{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/forgot_password.css' %}">

<div class="forgot-container">
    <div class="header-box">
        <h2>Forgot Password?</h2>
        <p style="font-size: 14px; margin-top: 5px;">Enter your email to reset it</p>
    </div>
    
    <div class="form-box">
        <form method="POST">
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                <p style="color: red; font-size: 14px;">{{ message }}</p>
                {% endfor %}
            {% endif %}
            
            <input type="email" name="email" class="form-control" placeholder="Enter Registered Email" required>
            <button type="submit" class="submit-btn">SEND OTP</button>
        </form>
    </div>
</div>
{% endblock %}