{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/reset_password.css' %}">

<div class="forgot-container">
    <div class="header-box">
        <h2>Reset Password</h2>
        <p style="font-size: 14px;">Create a strong new password</p>
    </div>
    
    <div class="form-box">
        <form method="POST">
            {% csrf_token %}
            {% if messages %}
                {% for message in messages %}
                <p style="color: red; font-size: 14px;">{{ message }}</p>
                {% endfor %}
            {% endif %}
            
            <input type="text" name="pass1" class="form-control" placeholder="New Password" required>
            <input type="text" name="pass2" class="form-control" placeholder="Confirm New Password" required>
            
            <button type="submit" class="submit-btn">CHANGE PASSWORD</button>
        </form>
    </div>
</div>
{% endblock %}